@model IEnumerable<Phonebook.Common.Phonebook>
@{
    ViewBag.Title = "Index";
}

<h2>Phonebook Records</h2>
<div>
    <a href="/Phonebook/AddEditPhonebookRecord" class="btn btn-primary pull-right" type="button">+ Add</a>
</div>

<div class="tablecontainer table-responsive">
    <table id="tblDocumentTypes" class="table table-striped" width="100%" cellspacing="0">
        <thead>
            <tr class="headings">
                <th class="column-title">First Name</th>
                <th class="column-title">Last Name</th>
                <th class="column-title">Phone Number</th>
                <th class="column-title">Email</th>
                <th class="column-title no-link last">
                    <span class="nobr">Edit</span>
                </th>
                <th class="column-title no-link last">
                    <span class="nobr">Delete</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phonebook in Model)
            {
                <tr class="headings">
                    <td class="column-title">@phonebook.FirstName</td>
                    <td class="column-title">@phonebook.LastName</td>
                    <td class="column-title">@phonebook.PhoneNumber</td>
                    <td class="column-title">@phonebook.Email</td>
                    <td class="column-title no-link last">
                        <span class="nobr">@Html.ActionLink("Edit", "AddEditPhonebookRecord", new { id = phonebook.Id })</span>
                    </td>
                    <td class="column-title no-link last">
                        <span class="nobr"><a href="javascript:void(0)" onclick="return confirmMaidDelete(@phonebook.Id)"> Delete </a></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        confirmMaidDelete = function (id) {
            if (confirm("Are you sure you want to delete this record?")) {
                window.location.href = "/Phonebook/Delete/" + id;
            }
        }
    });
</script>